<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Travel App</title>
</head>
 <body>
  <div id="form">
    <div class="header">
      Travel App
    </div>
    <main>
      <div class="question">
        <label for="city">Where Are You Going?</label>
        <input type="text" id="city" placeholder="enter city name...">
      </div>
      <div class="question">
        <label for="date">When Are You Going?</label>
        <input class="myInput" id="date" placeholder="dd/mm/yyyy" rows="9" cols="50"></input>
      </div>
    </main>
    <button id="generate" type="submit"> Generate Trip </button>
  </div>
  <h2>Your Trips</h2>
  <div class="trips-container">
    <div class="trip">
      <div class="left-side">
        <h4 class="destination">Destination</h4>
        <p>The weather will be: <span id="temperature">25 degrees</span></p>
        <p>You're leaving on: <span id="display-date"> 25th March</span></p>
        <p>Your trip is in <span id="countdown">5</span> days!</p>
      </div>
      <div class="right-side">
        <img src="" alt="">
      </div>
    </div>
    <div class="trip">
      <div class="left-side">
        <h4 class="destination">Destination</h4>
        <p>The weather will be: <span id="temperature">25 degrees</span></p>
        <p>You're leaving on: <span id="display-date"> 25th March</span></p>
        <p>Your trip is in <span id="countdown">5</span> days!</p>
      </div>
      <div class="right-side">
        <img src="" alt="">
      </div>
    </div>
  </div>
</body>
</html>