<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<title>Travel App</title>
</head>
 <body>
  <div id="form">
    <div class="header">
      Travel App
    </div>
    <main>
      <div class="question">
        <label for="city">Where Are You Going?</label>
        <input type="text" id="city" placeholder="enter city name...">
      </div>
      <div class="question">
        <label for="date">When Are You Going?</label>
        <input class="myInput" id="date" placeholder="dd/mm/yyyy" rows="9" cols="50"></input>
      </div>
    </main>
    <button id="generate" type="submit"> See Your Location </button>
  </div>
  <div class="pic-display">
    <!-- <img id="final-pic" src="" alt=""> -->
    <h3>pic will go here</h3>
  </div>
</body>
</html>