* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(62, 114, 211);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    width: 100vw;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    min-height: 90vh;
    
    .header {
        font-size: 4em;
        text-decoration: underline;
        text-align: center;
        margin: 25px;
        @media screen and (max-width: 700px){
            font-size: 3em;
        }
    }
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    background-color:rgb(37, 92, 192);
    @media screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .question {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        background-color: rgb(62, 114, 211);
        border-radius: 5px;
        @media screen and (max-width: 700px){
            width: 100%;
            background-color: rgb(37, 92, 192);
            border-bottom: 1px solid black;
        }
        label {
            margin: 25px;
            display:block;
            font-size: 27px;
            text-align: center;
        }
        input {
            margin: 25px;
            text-align: center;
            display:block;
            height: 60px;
            width: 320px;
            background:rgb(37, 92, 192);
            color: #f0d43a;
            font-size: 20px;
            font-family: 'Oswald', sans-serif;
            border: none;
            @media screen and (max-width: 700px){
                background:rgb(62, 114, 211);
            }
        }
    }
}

button{
    width: 400px;
    height: 100px;
    margin: 25px;
    background-color: #0d50e0;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: 1px solid #fff;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
        background-color: #f0d43a;
        color: #0d50e0;
        width: 450px;
        height: 120px;
    }
    @media screen and (max-width: 700px) {
        width: 200px;
        height: 50px;
        font-size: 15px;
        text-align: center;
    }
}

.pic-display {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#final-pic{
    border: 1px solid #fff;
    border-radius: 5px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
} 